.header {
    padding: rem(24) 5.55vw;
    border-bottom: 1px solid rgba(246, 224, 150, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    transition: $t-hover;
    will-change: transform;
    background-color: transparent;

    &.scroll-start {
        background-color: $bg-color;
    }

    &.scrolled {
        transform: translateY(-100%);
    }

    &__left {
        max-width: rem(186);
    }

    &__right {
        display: none;
    }
}
