.header {
    padding: rem(24) rem(80);
    border-bottom: 1px solid rgba(246, 224, 150, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    &__logo {
        max-width: rem(186);
    }
}

.nav-menu {
    li {
        &:not(:last-child) {
            margin-right: rem(32);
        }

        a {
            position: relative;
            color: $white;
            font-size: rem(18);
            line-height: line-height(18, 27);
            font-weight: 400;

            &:after {
                height: 2px;
                top: calc(100% + 1px);
            }

            &.is-active {
                color: $secondary-color;
                font-weight: 700;

                &:after {
                    left: 0;
                    width: 100%;
                }
            }
        }
    }
}
