@import '../components/accordion';
.faq-block {
    padding: rem(80) 0;
    @include media-breakpoint-down(md) {
        padding: rem(40) 0;
    }
    &__wrapper {
        flex-wrap: wrap;
    }
    .left {
        flex: 0 0 rem(350);
        @include media-breakpoint-down(md) {
            flex: 0 0 100%;
            padding-bottom: rem(20);
        }
    }

    .right {
        flex: 1;
        padding-left: rem(50);
        max-width: rem(790);
        @include media-breakpoint-down(md) {
            padding: 0;
            max-width: 100%;
        }
    }
}
