.hamburger {
    pointer-events: auto;
    display: flex;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transform-origin: center center;
    display: none;

    @include media-breakpoint-down(lg) {
        display: block;
    }

    &__inner {
        display: block;
        height: rem(24);
        width: rem(24);
        cursor: pointer;
        /* padding: 0 rem(14); */
        transition: all 0.3s ease 0s;
        transform-origin: center;
        transform: rotate(0deg);
        will-change: transform;
    }

    .line {
        width: rem(18);
        height: rem(3);
        margin-left: rem(1);
        margin: auto auto rem(5) auto;
        display: block;
        border-radius: rem(3);
        background: $red;
        transform-origin: center;
        transition: all 0.2s ease 0s;

        &--1 {
            /* border-radius: 100%; */
            background: $red;
            transform-origin: center;
            transition: all 0.2s ease 0s;
        }

        &--3 {
            /* border-radius: 100%; */
            background: $red;
            transform-origin: center;
            transition: all 0.2s ease 0s;
        }
    }

    &.active {
        .hamburger__inner {
            transform: rotate(180deg);
            transition: all 0.3s ease 0s;
        }

        .line--1,
        .line--3 {
            border-radius: 0;
            height: rem(2);
            width: rem(24);
            left: 0;
            top: rem(11);
            position: absolute;
            transition: all 0.2s ease 0s;
            transform-origin: center;
        }

        .line {
            &--1 {
                transform: rotate(-45deg);
            }

            &--2 {
                background: transparent;
            }

            &--3 {
                transform: rotate(45deg);
            }
        }
    }
}
