.info {
    position: relative;
    margin: rem(40) 0 rem(10);
    &__inner {
        gap: 0 rem(20);
        @include media-breakpoint-down(md) {
            flex-wrap: wrap;
            gap: rem(40) 0;
        }
    }
    &__left {
        width: 66.3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: rem(24);
        border: rem(2) solid #2d323b;
        padding: rem(32) rem(40);
        @include media-breakpoint-down(md) {
            width: 100%;
        }
        @include media-breakpoint-down(sm) {
            padding: rem(32) rem(30);
        }
        .h1 {
            padding-bottom: rem(16);
        }
        p {
            font-weight: 600;
            font-size: rem(20);
            line-height: line-height(20, 30);
            @include media-breakpoint-down(md) {
                font-size: rem(16);
            }
        }
    }
    &__right {
        width: 33.7%;
        position: relative;
        background: #1d2126;
        border-radius: rem(24);
        border: rem(2) solid #e2cd8b;
        padding: rem(32) rem(40);
        height: fit-content;
        @include media-breakpoint-down(md) {
            width: 100%;
        }
        @include media-breakpoint-down(sm) {
            padding: rem(32) rem(30);
        }
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: rem(40) 0;
        &-top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .rating {
                font-size: rem(14);
                &-number {
                    font-weight: 600;
                }
            }
            img {
                width: auto;
            }
        }
        &-bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .h4 {
                padding-bottom: rem(16);
            }
            .h3 {
                text-align: center;
                color: $white;
            }
            .btn {
                width: 100%;
            }
        }
    }
    &__stars {
        margin: rem(8) 0;
        gap: 0 rem(4);
        svg {
            width: rem(38);
            height: rem(38);
            @include media-breakpoint-down(md) {
                width: rem(24);
                height: rem(24);
            }
        }
    }
}
