.partners-block {
    @include media-breakpoint-down(sm) {
        padding-bottom: rem(42);
    }
}

.partners {
    border-radius: rem(24);
    border: 2px solid #2d323b;
    background: #21252b;
    padding: rem(16) rem(40);
    gap: 0 rem(40);

    @include media-breakpoint-down(md) {
        gap: 0 rem(20);
    }

    @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
        flex-direction: column;
        gap: rem(20);
        padding: rem(32) rem(16);
    }

    &:not(:last-of-type) {
        margin-bottom: rem(12);
    }

    &__image {
        flex: 0 0 rem(134);

        @include media-breakpoint-down(sm) {
            flex: auto;
        }
    }

    &__title {
        margin-right: auto;

        @include media-breakpoint-down(sm) {
            margin-right: 0;
            text-align: center;
        }

        strong {
            font-family: $black-font;
            font-size: rem(22);
            line-height: line-heigt(22, 26);
            font-weight: 700;
            display: block;
            padding-bottom: rem(4);

            @include media-breakpoint-down(lg) {
                font-size: rem(18);
                line-height: line-height(18, 22);
            }

            @include media-breakpoint-down(md) {
                font-size: rem(16);
                line-height: line-height(16, 18);
            }
        }

        small {
            font-family: $medium-font;
            font-size: rem(12);
            line-height: line-height(12, 14);
            font-style: normal;
        }
    }

    &__rating {
        display: flex;
    }

    &__cta {
        gap: rem(16);
    }
}
