@import '../utility.scss';

.hero {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: $black;
    color: $white;
    background-size: cover;

    &__content {
        max-width: rem(1040);
        margin: 0 auto;
    }

    .display-1 {
        padding-bottom: rem(16);
    }

    p {
        font-size: rem(20);
        font-weight: 600;
        line-height: line-height(20, 30);
        padding-bottom: rem(16);

        &:empty {
            display: none;
        }
    }

    .btn {
        margin-top: rem(14);
    }
}
