$regular-font: '__Plus_Jakarta_Sans_47178e';
$light-font: '__Plus_Jakarta_Sans_47178e';
$medium-font: '__Plus_Jakarta_Sans_47178e';
$bold-font: '__Kanit_c5d410';
$headline-font: $bold-font;
$black-font: '__Plus_Jakarta_Sans_47178e';

$font-size-base: 16px;
$line-height-base: 1.2;
$font-weight-base: 400;
