$regular-font: 'Plus Jakarta Regular';
$medium-font: 'Plus Jakarta Medium';
$bold-font: 'Plus Jakarta Bold';
$black-font: 'Plus Jakarta Black';
$headline-font: 'Kanit Bold';
$headling-medium-font: 'Kanit Medium';

$font-size-base: 16px;
$line-height-base: 1.2;
$font-weight-base: 400;
