$regular-font: 'HelveticaNeue-Regular';
$light-font: 'HelveticaNeue-Light';
$medium-font: 'HelveticaNeue-Medium';
$bold-font: 'HelveticaNeue-Bold';
$headline-font: $bold-font;

$font-size-base: 16px;
$line-height-base: 1.2;
$font-weight-base: 400;
