@import '../../utility';

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: auto;

    &__left,
    &__right {
        width: 50%;
        padding: 0 rem(50);
    }
}
